<form [formGroup]="form" (ngSubmit)="login()">
  <div class="form-group">
    <label for="usuario">Nombre</label>
    <input autofocus id="usuario" type="text" class="form-control" formControlName="usuario">
    <div *ngIf="form.controls.usuario.touched && !form.controls.usuario.valid" class="alert alert-danger">
      El nombre de usuario es obligatorio
    </div>
  </div>
  <div class="form-group">
    <label for="clave">Clave</label>
    <input id="clave" type="password" class="form-control" formControlName="clave">
    <div *ngIf="form.controls.clave.touched && form.controls.clave.errors">
      <div *ngIf="form.controls.clave.errors.invalidLogin" class="alert alert-danger">
        Error en el nombre de usuario o en la clave
      </div>
      <div *ngIf="form.controls.clave.errors.required" class="alert alert-danger">
        La clave es obligatoria
      </div>
      <div *ngIf="form.controls.clave.errors.sinEspacios" class="alert alert-danger">
        La clave no puede contener espacios
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Login</button>
</form>