<h1>
  {{title}}
</h1>
<testcontent>
  <div class="heading">
    Uso de ng-content
  </div>
  <div class="body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet risus ligula. Duis quam risus, vehicula vel euismod
    sed, dignissim in orci. Nam auctor dolor sit amet sagittis consectetur. Praesent maximus nisi non leo consectetur, in
    porttitor libero cursus. Etiam et nisl ultricies, feugiat tortor et, consequat lorem. Fusce pellentesque turpis vestibulum
    nisl egestas fermentum. Cras id lectus ex. In sed eros sagittis, sodales eros vel, hendrerit dui. Phasellus mattis ipsum
    et nibh mollis congue. </div>
  <div class="button">
    Más info...
  </div>
</testcontent>